.mypage-headerbox {
  display: flex;
  gap: 15px;
  font-weight: bold;
  font-size: 1rem;
}
.mypage-headerbox a:hover {
  background-color: whitesmoke;
  text-decoration: underline;
}
.mypage-userinfo-img {
  display: flex;
  gap: 15px;
}
.mypage-userinfo-img img {
  width: 56px;
  border-radius: 50%;
}
.mypage-userpwchange {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mypage-userinfochange-img {
  display: flex;
  gap: 15px;
  align-items: center;
}
.mypage-userInfo-img-handler {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.mypage-userInfo-img-handler button {
  width: 65px;
}

.mypage-userpwchange input {
  height: 1.5rem;
  width: 12rem;
}

.mypage-main {
  width: 100%;
  height: fit-content;
  padding: 10px;
}
.mypage-main button {
  border: none;
  padding: 5px 5px;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  margin: 5px 5px;
  background-color: burlywood;
}
.modal-button {
  border: none;
  width: 60px;
  padding: 5px 5px;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  margin: 0px 5px;
  background-color: burlywood;
}
.mypage-posts {
  width: 100%;
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.mypage-postsInfo {
  gap: 15px;
  display: flex;
}
.mypage-post-table {
  width: 100%;
  border-spacing: 0;
  margin: 0;
}
.mypage-post-table th {
  min-width: 50px;
  font-size: 1rem;
  text-align: center;
  padding: 5px 0px;
  border: none;
  border-bottom: 1px solid lightgrey;
}
.mypage-post-table td {
  text-align: center;
  min-width: 50px;
  padding: 5px 0px;
  font-size: 1rem;
  border-bottom: 1px solid lightgrey;
}

.mypage-post-each:hover {
  background-color: whitesmoke;
}
