.post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  height: auto;
  gap: 15px;
  border-bottom: 1px solid burlywood;
}
.postHead {
  display: flex;
  flex-direction: column;
}
.comment-likehate {
  cursor: pointer;
  display: flex;
  gap: 5px;
}

.post-title {
  margin: 0;
  padding: 15px 10px;
  border-bottom: 1px solid burlywood;
}
.post-title:hover {
  text-decoration: underline;
}
.footer-share {
  display: flex;
  gap: 5px;
  align-items: center;
}
.postInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0.5rem;
  background-color: bisque;
  padding-bottom: 0.5rem;
}

.postInfo-info {
  display: flex;
  height: 2rem;
  gap: 15px;
  align-items: center;
}
.postlink {
  display: flex;
  gap: 10px;
}
.postlink a {
  font-size: 1rem;
  text-decoration: dotted;
  color: darkgrey;
  margin: 0;
  width: fit-content;
}

.postlink a:hover {
  text-decoration: underline;
}
.postContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 10px;
  height: 100%;
  min-height: 240px;
  border-bottom: 1px solid burlywood;
}
.postContent p {
  margin: 3px;
}

.postContent-main {
  padding-bottom: 3rem;
  min-width: 120px;
  max-width: 100%;
  object-fit: cover;
  word-break: break-all;
}
/* 유튜브사이즈에 맞게가는지  */

.ql-video {
  width: 100%;
  padding-bottom: 10px;
  overflow: hidden;
}
/* 쉬바알.. 지난번에 반대로 이해해서 제대로 대가리깨지고 시이바아아아아해냇다아아 */
.ql-video:has(> iframe) {
  position: relative;
  width: 100%;
  height: 0;
  padding: 0px;
  background-color: aliceblue;
  padding-bottom: 56.25%;
  overflow: hidden;
}
.ql-video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.postContent-main video {
  width: 100%;
  height: auto;
}

.postContent-main img {
  max-width: 100%;
  object-fit: cover;
}

.postContent-footer {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding-bottom: 20px;
}
.postContent-footer button {
  border: none;
  background-color: burlywood;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  color: black;
}
.postContent-footer button:hover {
  opacity: 0.9;
}
.postFooter {
  display: flex;
  gap: 10px;
  flex-direction: column;
  height: 100%;
}
.share-edit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-bottom: 30px;
  margin-bottom: 5px;
  border-bottom: 1px solid burlywood;
}
.footer-editbox {
  display: flex;
  gap: 10px;
}
.footer-editbox button {
  border: none;
  background-color: burlywood;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
  padding: 10px;
}
.footer-editbox button:hover {
  opacity: 0.9;
}

.postContent a {
  color: black;
  background-color: aliceblue;
  text-decoration: none;
}
.postContent a:hover {
  text-decoration: underline;
}

.footer-comment {
  display: flex;
  flex-direction: column;
}
.comment-title {
  font-weight: bold;
  padding-left: 10px;
  /* border-bottom: 1px solid burlywood; */
}
.comment-title p {
  width: fit-content;
  background-color: white;
  cursor: pointer;
  font-size: 1rem;
}
.comment-main {
  padding: 7px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid burlywood;
  font-size: 0.8rem;
}
.comment-main-depth {
  padding: 7px 10px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid burlywood;
  font-size: 0.8rem;
}
.recomment-main {
  padding: 0px 0px;
  gap: 5px;
}
.recomment-main-edit {
  padding-top: 10px;
  border-top: 1px solid burlywood;
  margin-top: 10px;
}
.post-comment {
  display: flex;

  align-items: center;
  gap: 10px;
  justify-content: center;
}

.comment-modal:hover {
  text-decoration: underline;
}
.comment-writer-img {
  display: flex;
  width: 64px;
  height: 64px;
  align-items: center;
  justify-content: center;
}
.comment-writer-img img {
  width: 56px;
  height: 56px;
}
.comment-info {
  display: flex;
  padding: 0 10px;
  justify-content: space-between;

  gap: 10px;
}
.comment-writer {
  display: flex;
  gap: 1rem;
}
.comment-action {
  display: flex;
  gap: 10px;
}

.comment-main-main {
  width: 100%;
}
.comment-write {
  height: auto;
  padding: 0 10px;
  border-top: 1px solid burlywood;
  padding-bottom: 20px;
}

.recomment-write-main {
  display: flex;
  gap: 10px;
  height: 100%;
  padding: 10px 0px;
  border-top: 1px solid burlywood;
  width: 100%;
}
.recomment-write-main form {
  display: flex;
  height: 56px;
  width: 100%;
  gap: 10px;
}
.recomment-write-main form textarea {
  display: flex;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  font-size: 1rem;
  resize: none;
}
.recomment-write-main form button {
  border: none;
  text-align: center;
  cursor: pointer;
  width: 88px;
  border-radius: 5px;
  color: black;
  background-color: burlywood;
}
.recomment-write-main form button:hover {
  opacity: 0.9;
}
.comment-write-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  padding: 0;
  margin: 0;
}
.comment-write-img img {
  border-radius: 5px;
  width: 56px;
  height: 56px;
}
.comment-write-main {
  height: 120px;
  gap: 10px;
  padding-top: 10px;
  display: flex;
  height: auto;
}
.comment-write-main form {
  display: flex;
  width: 100%;
  height: 56px;
  gap: 10px;
}
.comment-write-main form button {
  border: none;
  text-align: center;
  cursor: pointer;
  width: 88px;
  border-radius: 5px;
  color: black;
  background-color: burlywood;
}
.comment-write-main form button:hover {
  opacity: 0.9;
}
.comment-write-main textarea {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  font-size: 1rem;
  resize: none;
}
.comment-content {
  padding: 10px 10px;
  width: 100%;
  height: auto;
}
.targetID {
  margin-right: 10px;
  color: black;
  font-weight: bold;
  background-color: bisque;
}
.comment-delete {
  cursor: pointer;
}

.pagination-box {
  text-align: center;
  margin-bottom: 15px;
}
