.post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  height: auto;
  gap: 15px;
  border-bottom: 1px solid burlywood;
}
.postHead {
  display: flex;
  flex-direction: column;
}
.post-title {
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid burlywood;
}
.postInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0.5rem;
  background-color: bisque;
  padding-bottom: 0.5rem;
}
.postInfo-info {
  display: flex;
  height: 2rem;
  gap: 15px;
  align-items: center;
}
.postlink {
  display: flex;
  gap: 10px;
}
.postlink a {
  font-size: 1rem;
  text-decoration: dotted;
  color: darkgrey;
  margin: 0;
  width: fit-content;
}
.postlink a:hover {
  text-decoration: underline;
}
.postContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 10px;
  height: 100%;
  min-height: 240px;
  border-bottom: 1px solid burlywood;
}
.postContent-main {
  padding: 10px;
  padding-bottom: 3rem;
  min-width: 120px;
  max-width: 680px;
  object-fit: cover;

  word-break: break-all;
}

.postContent-footer {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding-bottom: 20px;
}
.postContent-footer button {
  border: none;
  background-color: burlywood;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  color: black;
}
.postFooter {
  display: flex;
  gap: 10px;
  flex-direction: column;
  height: 100%;
}
.share-edit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-bottom: 30px;
  margin-bottom: 5px;
  border-bottom: 1px solid burlywood;
}
.footer-editbox {
  display: flex;
  gap: 10px;
}
.footer-editbox button {
  border: none;
  background-color: burlywood;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
  padding: 10px;
}

.footer-comment {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.comment-title {
  font-weight: bold;
  padding-left: 10px;
  border-bottom: 1px solid burlywood;
}
.comment-title p {
  width: fit-content;
  background-color: white;
  cursor: pointer;
  font-size: 1rem;
}
.comment-main {
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  border-bottom: 1px solid burlywood;
  font-size: 0.8rem;
}
.post-comment {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.comment-writer-img {
  width: 64px;
  height: 64px;
  text-align: center;
  font-size: 3rem;
  color: darkgrey;
  background-color: lightgrey;
  border: darkgray;
}
.comment-info {
  display: flex;
  padding: 0 10px;
  justify-content: space-between;

  gap: 10px;
}
.comment-writer {
  display: flex;
  gap: 1rem;
}
.comment-action {
  display: flex;
  gap: 10px;
}

.comment-main-main {
  width: 100%;
}
.comment-write {
  height: auto;
  padding: 0 10px;
  padding-bottom: 20px;
}
.comment-write-img {
  width: 64px;
  height: 64px;
  padding: 0;
  margin: 0;

  background-color: lightgrey;
}
.comment-write-main {
  height: 120px;
  gap: 10px;

  display: flex;
  height: auto;
}
.comment-write-main form {
  display: flex;
  width: 100%;
  gap: 10px;
}
.comment-write-main form button {
  border: none;
  text-align: center;
  cursor: pointer;
  width: 88px;
  border-radius: 5px;
  color: black;
  background-color: burlywood;
}
.comment-write-main input {
  min-height: 64px;
  width: 100%;
  font-size: 1rem;
}
.comment-content {
  padding: 10px;
  width: 100%;
  height: auto;
}
