.register-form {
  gap: 0.5rem;
  color: burlywood;
}
.registerbox {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.register-form input {
  border: none;
  border-bottom: 1px solid burlywood;
  color: darkgrey;
  padding: 0 0.5rem;
  height: 1.5rem;
  background-color: rgb(244, 244, 244);
}
.register-form button {
  border: none;
  background-color: bisque;
  color: darkgrey;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
.googleRegister {
  border: none;
  background-color: bisque;
  color: darkgrey;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}
