.boardlist {
  width: 100%;
  display: flex;
  height: auto;
  max-height: fit-content;
  flex-direction: column;
  justify-content: space-between;
  background-color: bisque;
  margin-top: 35px;
}
.boardlist-header {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 10px;
}
.boardlist-header h4 {
  max-width: 80px;
  min-width: 40px;
}
.boardlist-header-section {
  min-width: 32px;
}
.boardlist-header-left {
  display: flex;
  padding-left: 5px;
  align-items: center;
  gap: 10px;
  width: 50%;
  justify-content: flex-start;
}
.boardlist-header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
}

.boardlist-header-section {
  display: flex;
}
.boardlist-main {
  flex: 15;
  background-color: white;
}
.boardlist-footer {
  flex: 1;
  padding: 10px;
}
.boardlist-box {
  background-color: white;
  height: auto;
  display: flex;
  flex-direction: column;
}
.boardlist-table {
  height: 2rem;
  padding: 1px 10px;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-bottom: 1px solid lightgray;
  font-size: 0.8rem;
}
.ant-input-search
  :where(.css-dev-only-do-not-override-26rdvq).ant-input-group
  .ant-input-affix-wrapper:not(:last-child) {
  border-start-start-radius: 0px;
  border-end-start-radius: 0px;
}
.important-post {
  display: flex;
  border-bottom: 1px solid lightgrey;
  width: 100%;
  height: 2rem;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: whitesmoke;
}
.ip-post-title {
  padding-left: 15px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
.ip-post-title:hover {
  text-decoration: underline;
}

.boardlist-table-title {
  height: 1.5rem;
  max-width: 300px;
  font-size: 0.8rem;
  width: 100%;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.boardlist-table:hover {
  background-color: whitesmoke;
}
.boardlist-table-title .link:visited {
  color: grey;
}

@media screen and (max-width: 768px) {
  .boardlist-table {
    display: flex;
    height: fit-content;
    gap: 5px;
  }
  .boardlist-table-title {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    white-space: normal;
    height: fit-content;
  }
}
