.mainbox {
  width: 100%;
  display: flex;
}
.mainbox-divider {
  width: 100%;
}
.mainCategory {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.mainCategory-cat {
  font-size: 1.5rem;
  color: burlywood;
  margin: 0px;
  padding: 10px;
  width: 80%;
  border-bottom: 1px solid darkgray;
}
.mainCategory-cat > a:hover {
  text-decoration: underline;
}

.mainCategory-post {
  padding: 10px;
  padding-left: 10px;
  width: 80%;
  font-size: 0.8rem;
  border-bottom: 0.5px solid lightgrey;
}
.mainCategory-post:hover {
  background-color: whitesmoke;
}

@media screen and (max-width: 550px) {
  .mainbox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
